{{ template "layout.html" . }}

{{ define "title" }}
Change Password
{{ end }}

{{ define "content" }}
<div class="flex justify-center">
	<div class="flex-1 p-8 border-[1px] border-gray-500 rounded m-4 max-w-sm">
		<header class="text-center mb-4 border-b border-gray-500 p-2">
			<h1 class="font-bold text-xl">Change Password</h1>
			{{ with .User }}
			<p class="text-gray-600 text-sm">Logged in as {{ .Name }}</p>
			{{ end }}
		</header>
		<form method="POST" action="/auth/password/change">
			{{ if .User }}
			<div class="text-sm mb-4 flex flex-col">
				<label class="font-bold block" for="current_password">Current Password</label>
				<input class="block rounded px-2 py-1 border-gray-500 focus:ring-0 focus:border-emerald-500" id="current_password" type="password" name="current_password" placeholder="Current Password" />
			</div>
			{{ end }}
			
			<div class="text-sm mb-4 flex flex-col">
				<label class="font-bold block" for="new_password">New Password</label>
				<input class="block rounded px-2 py-1 border-gray-500 focus:ring-0 focus:border-emerald-500" id="new_password" type="password" name="new_password" placeholder="New Password" />
			</div>
			
			<div class="text-sm mb-4 flex flex-col">
				<label class="font-bold block" for="confirm_password">Confirm New Password</label>
				<input class="block rounded px-2 py-1 border-gray-500 focus:ring-0 focus:border-emerald-500" id="confirm_password" type="password" name="confirm_password" placeholder="Password" />
			</div>

			{{ with .TokenData }} 
				<input type="hidden" name="token" value="{{ .Token }}" />
				<input type="hidden" name="id" value="{{ .UserId }}" />
			{{ end }}

			{{ with .User }} 
				<input type="hidden" name="csrf_token" value="{{ .CsrfToken }}" />
			{{ end }}

			<button class="w-full bg-emerald-300 py-2 rounded font-bold border-[1px] border-gray-500">Submit</button>
		</form>
	</div>
</div>
{{ end }}
