{{ define "title" }}
List Users
{{ end }}

{{ define "content" }}
<div class="flex">
	<div class="m-auto p-4">
		<div class="flex gap-2 py-4">
			<div class="px-4 sm:px-0 flex-1">
				<h3 class="text-base font-semibold leading-7 text-gray-900">Org Users</h3>
				<p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Who's in your team?</p>
			</div>
			<div>
				<a href="/org/{{ .OrgId }}/user/new"
					class="text-sm text-gray-900 font-semibold p-2 shadow ring-1 ring-inset ring-gray-300 rounded hover:bg-gray-100 transition-colors">Add</a>
			</div>
		</div>

		<div class="rounded overflow-hidden shadow ring-1 ring-black ring-opacity-5">
			<table class="divide-y divide-gray-300">
				<thead class="bg-gray-50">
					<tr>
						<th class="text-left p-3 text-sm text-gray-900 font-semibold">USERNAME</th>
						<th class="text-left p-3 text-sm text-gray-900 font-semibold">EMAIL</th>
						<th class="text-left p-3 text-sm text-gray-900 font-semibold">USER ID</th>
						<th class="text-left p-3 text-sm text-gray-900 font-semibold">
							<span class="sr-only">VIEW</span>
						</th>
						<th class="text-left p-3 text-sm text-gray-900 font-semibold">
							<span class="sr-only">DELETE</span>
						</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-200">
					{{ $csrfToken := .CsrfToken }}
					{{ $orgId := .OrgId }}
					{{ range .Users }}
					<tr>
						<td class="p-3 text-sm text-gray-500">{{ .Name }}</td>
						<td class="p-3 text-sm text-gray-500">{{ .Email }}</td>
						<td class="p-3 text-sm text-gray-500">{{ .UserId }}</td>
						<td class="p-3 text-sm text-gray-500">
							<a href="/user/{{ .UserId }}" class="text-indigo-400 font-semibold">View</a>
						</td>
						<td class="p-3 text-sm text-gray-500">
							<button 
								hx-delete="/org/{{ $orgId }}/user/{{ .UserId }}?csrf_token={{ $csrfToken }}" 
								hx-confirm="Are you sure you want to delete this policy?"
								hx-swap="delete"
								hx-target="closest tr"
								class="text-rose-400 font-semibold">delete</button>
						</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{ end }}
