{{ define "title" }}
User details
{{ end }}

{{ define "content" }}

{{ $csrf := .CsrfToken }}

{{ with .User }}
<div class="flex justify-center">
	<div class="max-w-screen-md flex-1 p-4">
		<div class="shadow ring-1 ring-black ring-opacity-5 rounded p-6">
			<div class="flex gap-2">
				<div class="px-4 sm:px-0 flex-1">
					<h3 class="text-base font-semibold leading-7 text-gray-900">User Information</h3>
					<p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">information about account.</p>
				</div>

				<div>
					<a href="/user/{{ .UserId }}/policy" class="text-sm text-gray-900 font-semibold p-2 shadow ring-1 ring-inset ring-gray-300 rounded hover:bg-gray-100 transition-colors">Policies</a>
				</div>
			</div>

			<div class="mt-6 border-t border-gray-100">
				<dl class="divide-y divide-gray-100">
					<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
						<dt class="text-sm font-medium leading-6 text-gray-900">User ID</dt>
						<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ .UserId }}</dd>
					</div>
					<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
						<dt class="text-sm font-medium leading-6 text-gray-900">Email</dt>
						<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ .Email }}</dd>
					</div>
					<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
						<dt class="text-sm font-medium leading-6 text-gray-900">User Name</dt>
						<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ .Name }}</dd>
					</div>
					<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
						<dt class="text-sm font-medium leading-6 text-gray-900">Reset Password</dt>
						<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
							<button 
								hx-put="/auth/password/change/{{ .UserId }}?csrf_token={{ $csrf }}"
								hx-swap="outerHTML"
								hx-target="this"
								class="rounded ring-1 ring-inset ring-gray-300 text-sm text-gray-900 p-2 shadow font-semibold transition-colors hover:bg-gray-400/10">
								Generate New
							</button>
						</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
</div>
{{ end }}
{{ end }}
