{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ block "title" . }}{{ end }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

	<script src="https://unpkg.com/htmx.org@1.9.6"
		integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
		crossorigin="anonymous"></script>
</head>

<body>
	{{ block "notification" .Error }}
		{{ if . }}
			<div class="fixed inset-x-0 top-0 flex flex-col p-2 items-end gap-2">
				<div class="p-2 leading-6 border-[1px] border-gray-800 bg-rose-400/40 font-bold">{{ .Message }}</div>
			</div>
		{{ end }}
	{{ end }}
	{{ block "content" .Data }}{{ end }}
</body>

</html>
{{ end }}

