{{ template "layout.html" . }}

{{ define "title" }}
Blog Posts
{{ end }}

{{ define "content" }}
<div class="flex justify-center">
	<div class="flex-1 max-w-screen-md p-4">
		<h1 class="text-5xl font-bold py-4 mb-8 border-b border-gray-800/5">Blog Posts</h1>
		<ul class="flex">
			{{ range . }}
			<li class="min-w-[50%] p-4">
				<div class="shadow relative rounded overflow-hidden">
				<a href="/blog/{{ .Id }}">
					<div class="group aspect-h-9 aspect-w-16 block w-full overflow-hidden bg-gray-100 ring-1 ring-gray-800/10">
						<img class="pointer-events-none object-cover group-hover:opacity-75"
							src="data:{{ .ImageMime }};base64, {{ .Image }}" />
					</div>
					<div class="flex-1 p-4">
						<div class="flex items-center">
							<span class="font-bold text-xl flex-1 text-gray-900">{{ .Title }}</span>
							<span class="text-xs">{{ .Date }}</span>
						</div>
					</div>

					<span class="absolute inset-0" />
				</a>
				</div>
			</li>
			{{ end }}
		</ul>
	</div>
</div>
{{ end }}
